.title{
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: white;
  text-shadow: 3px 3px 1px black;
}
body{
  background: #7BAFD4;
}

.options {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 50px;
  width: 200px;
}

.options * {
  margin: 7px;
}

.large_box{
  display: inline-flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  text-align: center;
  font-family: Lato, 'Helvetica Neue'
}
.rows{
  display: flex;
  flex-direction: row;
  
}
.semester_box{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 280px;
  
  
}
img{
  position: absolute;
  height:100px;
  padding: 20px; 
}

.titles {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

h2{
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: white;
  text-shadow: 1px 1px 1px black;
}

i{
  color: black;
  position: absolute;
  right: 10px;
  font-style: normal;
  font-size: 14px;
}

i:hover {
  color: white;
  cursor: pointer;
}

.course_box {
  height: 40px;
  width: 400px;
  background: grey;
  border: 1px solid hsla(0, 0%, 0%, 0.6);
  box-sizing: border-box;
  line-height: 35px;
  position: relative;
}

.semester_box {
  border: 3px solid #7BAFD4;
  background: hsla(0, 0%, 100%, 0.9);
}

@media (max-width: 790px) {
  .options {
    text-align: center;
    width: 100%;
    position: relative;
    top: -10px;
  }
  .titles {
    text-align: center;
  }
}